.intro {
    text-align: center;
    background-color: #fff;
    margin-bottom: 50px;
}

.intro h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px; 
}

.intro p {
    font-size: 1.2rem;
    padding: 20px;
    color: #666;
}

/* FAQ Section */
.faq {
    background-color: white;
    color: var(--main-color);
}

.faq h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.faq-item {
    width: 80%;
    margin: auto;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem; /* Increased font size */
    transition: background-color 0.3s ease;
}

.faq-item h3 {
    font-size: 1.6rem;
    color: #003366;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
}

/* Hover effect for FAQ items */
.faq-item:hover {
    background-color: #dce5f2; /* Light blue background on hover */
}

.faq-item:hover h3 {
    color: var(--main-color);
}

/* Contact Section */
.contact {
    text-align: center;
    background-color: #ffffff;
}

.contact h2 {
    font-size: 2rem;
    color: #003366;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1rem;
    color: #666;
}

.contact a {
    color: #0066cc;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .faq-item {
        margin-left: 10px;
        margin-right: 10px;
    }
}