.text-danger {
    color: red;
}

.container {
    margin: auto;
}

.hellohome {
    width: 100%;
    height: 80vh;
    background: url('../images/bg.jpg');
    /* background: var(--tertiary-color); */
    background-size: 100%;
    text-align: right;
    padding: 60px;
    text-transform: uppercase;
}

.hellohome h1 {
    font-size: 5rem;
    color: #ffffff;
}

.hellohome h1 span {
    color: var(--main-color);
    font-size: 7rem;
}

.hellohome p {
    font-size: 2rem;
    color: var(--color-white);
}

.hellohome button {
    background: var(--main-color);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.hellohome button a {
    display: flex;
}


/* =========================CHOOSE US SECTION============================= */

.chooseus {
    text-align: center;
    padding-bottom: 6rem;
    background: #000;
}

.chooseus h1 {
    font-size: 5rem;
    padding: 1rem;
    padding-top: 8rem;
    text-transform: uppercase;
}

.chooseus h1 {
    color: white;
}

.chooseus h1 span {
    color: var(--main-color);
}

.chooseus p {
    font-size: 2rem;
    color: white;
}

.main_content {
    margin-top: 2rem;
    font-size: 2rem;
}

.glowit {
    margin: 20px;
    border: 5px solid var(--tertiary-color);
    border-radius: 30px;
    padding: 2rem;
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: bold;
}

.glowit h1 {
    font-size: 4rem;
    color: #000;
}